body {
    margin: 0px;
}
.main {
    width: 60%;
    margin: 0 auto;
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    background: #fff;
    padding: 15px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left;
    top: -150px;
}
.modal .close-modal {
    display: none;
}

.main h1 {
    text-align: center;
}
.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
}
.blocker:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}
.modal .close {
    position: absolute;
    right: -15px;
    top: -15px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 4px 10px 5px;
    border-radius: 100%;
}
.add-img {
    width: 100%;
    text-align: right;
}
.button-success{
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button-edit {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    text-decoration: none;
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.button-delete {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-decoration: none;
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.modal .form {
    width: 80%;
    margin: 15px;
    float: left;
}

.modal .form label{
    width: 20%;
    float: left;
    font-weight: bold;
}
.modal .form .in-txt {
    width: 75%;
    float: left;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 20px;
    padding-left: 10px;
    color: #333;
}

.modal .form button {
    margin-left: 20%;
}
.error {
    display: none;
} 
.error span {
    color: red;
}    
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
#results {
    width: 100%;
    float: left;
}
table {
    border-collapse: collapse;
}
table tr {
    border-top: 1px solid #ccc;
}
table tr td, th{ 
    padding: 5px 10px;
    text-align: center;

}
.imgview img{
    margin-left: 20%;
}